/* LEFT NAV BAR ICONS */
.md-nav .material-icons {
  font-size: 1.0rem;
  vertical-align: middle;
  margin-right: 0.3rem;
  color: #275C8B;
  opacity: 0.9;
  transform: translateY(-2.0px);
}

/* TOP BREADCRUMBS NAV BAR ICONS */
.md-path .material-icons {
  font-size: 0.9rem;
  color: #275C8B;
  opacity: 0.9;
  transform: translateY(-0.5px);
}

/* GENERAL ICONS EMBEDDED IN TEXT */
.icon-text {
  display: flex;
  align-items: center;
  gap: 0.3em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.icon-text .material-icons {
  font-size: 1.1em;
  color: #E15436;
}

/* ICONS EMBEDDED IN TABLES */
/* General */
table .icon-label {
  display: inline-flex;
  align-items: center;
  gap: 0.35em;
}
table .material-icons {
  font-size: 1.1em;
  line-height: 1;
  color: #275C8B;
}


/* No vertical lines */
.table-no-vertical-lines td {
  vertical-align: top;
}
.table-no-vertical-lines .icon-label {
  display: inline-flex;
  align-items: center;
  gap: 0.35em;
}
.table-no-vertical-lines .material-icons {
  font-size: 1.05em;
  line-height: 1;
  color: #40B5AE;
}

