/* ===================================================================
   NAVIGATION BARs: LEFT SIDE OF PAGE & BREADCRUMB NAV AT TOP OF PAGE
   =================================================================== */

/* ===================================================================
    (1) BREADCRUMB NAV AT TOP OF PAGE
   =================================================================== */
/* Align icons and text */
.md-path a,
.md-path span {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;
}

/* ===================================================================
    (2) NAV BAR ON LEFT
   =================================================================== */

/* REMOVE SITE NAME FROM TOP OF NAV */
.md-nav .md-nav__title {
  display: none;
}

/* FONT & STYLING */
.md-nav__item,
.md-nav__link {
  font-family: "Agrandir-Regular", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
/* Bold text for parent sections of active page */
.md-nav__item--active > .md-nav__link {
  font-weight: 600;
}
/* Bold text for subsection of active page */
.md-nav__link--active {
  font-weight: 700;
  color: var(--md-accent-fg-color);
}

/* HIGHLIGHTS TO INDICATE WHICH PAGE/SECTION YOU ARE CURRENTLY ON IN NAV */
/* Accent bar to left of current section */
.md-nav__link--active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 50%;
  background-color: var(--md-accent-fg-color);
}
/* Ombre background highlighting for active subtree */
.md-nav__item--active > .md-nav {
  background-color: color-mix(
    in srgb,
    var(--md-accent-fg-color) 15%,
    transparent
  );
}

/* ===================================================================
   ACCESSIBILITY & INTERACTION STATES
   =================================================================== */
/* Focus States */
a:focus-visible,
button:focus-visible,
.md-nav__link:focus-visible {
  outline: 2px solid var(--md-primary-main);
  outline-offset: 2px;
}
/* Selected States */
.md-nav__item--active > .md-nav__link {
  color: var(--md-primary-dark);
}

